<div class="card">
    <div class="card-header">
        <h3>{{title}}</h3>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            <button class="btn btn-primary"
                            (click)="toggleImage()">
                                {{showImage? 'Hide' : 'Show'}} Image
                            </button>
                        </th>
                        <th>Id</th>
                        <th>Product</th>
                        <th>Code</th>
                        <th>Available</th>
                        <th>Price</th>
                        <th>5 Star Rating</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>                    
                </thead>
                <tbody>
                    <tr *ngFor='let product of products'>
                        <td>
                            <img *ngIf='showImage' [src] = 'product.imageUrl'
                            [title] = 'product.productName'
                            [style.width.px] = 'imageWidth'
                            [style.margin.px] = 'imageMargin'>
                        </td>
                        <td>{{ product.productId }}</td>
                        <td>{{ product.productName }}</td>
                        <td>{{ product.productCode }}</td>
                        <td>{{ product.releaseDate }}</td>
                        <td>{{ product.price}}</td>
                        <td>{{ product.starRating}}</td>
                        <td><a routerLink='/edit/{{product._id}}' class="btn btn-primary">Edit</a></td>
                        <td><a (click)="deleteProduct(product._id)" style="color:white" class="btn btn-primary">Delete</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>